/* css code to make the profile look nice */

body {
    background-color: darkolivegreen;
}

div {
    background-color: blanchedalmond;
}

/* hipsum class is in the about me section */
.hipsum {
    background-color: red;
    border-style: solid;
    border-radius: 10px;
}