body {
    background-color: darkolivegreen;
}

div {
    background-color: blanchedalmond;
}

.hipsum {
    background-color: red;
    border-style: solid;
    border-radius: 10px;
}

img {
    size: 200px x 200px;
}